@import "../../variables.scss";

.pagination {
  position: fixed;
  bottom: 0;
  background-color: $blueNight;
  gap: 12px;
  justify-content: center;

  .navButton {
    font-family: $primaryFont;
    font-size: 12px;
    color: $white;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .pageButton {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    font-family: $primaryFont;
    background-color: $darkBlueNight;
    color: $white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .pageButton:hover {
    background-color: $purple;
  }

  .activePage {
    background-color: $purple;
  }
}
