@import "../../../variables.scss";

.product {
  .title {
    text-align: center;
  }

  .productImageWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .productImage {
      border-radius: 8px;
      margin-right: 10px;
    }

    .productName {
      position: relative;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .productName::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(29, 30, 66, 0.1), $blueNight 100%);
    }
  }

  .productImageWrapper::after {
    opacity: 0;
    position: absolute;
    min-width: 170px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    content: attr(data-title);
    background-color: $purple;
    transition: all 0.2s;
  }

  .productImageWrapper:hover::after {
    opacity: 1;
  }
}

.product:nth-child(2n) {
  background-color: $lightBlueNight;

  .productName::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, rgba(38, 38, 79, 0.1), $lightBlueNight 100%);
  }
}

.actionsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: center;

  .actionButton {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
}
.statusWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    padding: 8px 12px;
    width: 85px;
    height: 14px;
  }
}

.red {
  color: $red;
  background-color: $lightRed;
}

.green {
  color: $green;
  background-color: $lightGreen;
}

.orange {
  color: $orange;
  background-color: $lightOrange;
}
