@import "../../variables.scss";

.productsList {
  height: 100%;
  padding: 64px 0;
}

.columnName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trianglesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 11px;

  .triangle {
    height: 14px;
    width: 10px;
    color: $grey;
  }

  .rotated {
    transform: rotate(180deg);
  }

  .activeSort {
    color: $purple;
  }
}

.sortButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: $white;
  font-family: $primaryFont;
  font-size: 14px;
}

.title {
  width: 100%;
  text-align: center;
}
