@import "../../variables.scss";

.columnName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sortButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: $white;
  font-family: $primaryFont;
  font-size: 14px;
}

.title {
  width: 100%;
  text-align: center;
}
