@font-face {
  font-family: MontSerrat500;
  src: url(fonts/Montserrat500.ttf);
}

@font-face {
  font-family: MontSerrat700;
  src: url(fonts/Montserrat700.ttf);
}

$primaryFont: MontSerrat500, sans-serif;
$MontSerrat700: MontSerrat700, sans-serif;
$white: #ffffff;
$blueNight: #1d1e42;
$darkBlueNight: #141432;
$purple: #624de3;
$orange: #cd6200;
$lightOrange: #fef2e5;
$red: #a30d11;
$lightRed: #fbe7e8;
$green: #1f9254;
$lightGreen: #ebf9f1;
